<!DOCTYPE html>
<html ng-app="MovieDB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB</title>
    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>

</head>
<body id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/home/index">MovieDB</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/movie/index">search</a>
                    </li>
                    <li>
                        <a href="/movie/list">my lists</a>
                    </li>
                    <li>
                        <a href="/account/login">login</a>
                    </li>
                    <li>
                        <a href="/account/register">register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br /><br />

    @RenderBody()

</body>
</html>

