@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="intro-text">
                        <span class="name">MovieDB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="search" class="content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Look It Up!</h2>
                <p> Search for your favorite or new movies!</p>
                <p> Find out who the actors and directors are!</p>
            </div>
        </div>
    </div>
</section>

<section id="list" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Watch List!</h2>
            <p> Add new movies to your watch list</p>
            <p> When you're done, remove it so you know you've finished it!</p>
            <p> You've to register to enjoy this feature</p>
        </div>
    </div>
</section>
